---
import GitHub from "../icons/GitHub.astro"
import NextJS from "../icons/NextJS.astro"
import Tailwind from "../icons/Tailwind.astro"
import Link from "../icons/Link.astro"
import LinkButton from "./LinkButton.astro"
import React from "../icons/React.astro"
import Firebase from "../icons/Firebase.astro"
import TypeScript from "../icons/TypeScript.astro"
import Vercel from "../icons/Vercel.astro"
import JavaScript from "../icons/JavaScript.astro"

const TAGS = {
  NEXT: {
    name: "Next.js",
    class: "bg-black text-white",
    icon: NextJS,
  },
  TAILWIND: {
    name: "Tailwind CSS",
    class: "bg-[#003159] text-white",
    icon: Tailwind,
  },
  REACT: {
    name: "React",
    class: "bg-[#003159] text-white",
    icon: React,
  },
  FIREBASE: {
    name: "Firebase",
    class: "bg-[#003159] text-white",
    icon: Firebase,
  },
  TYPESCRIPT: {
    name: "TypeScript",
    class: "bg-[#003159] text-white",
    icon: TypeScript,
  },
  VERCEL: {
    name: "Vercel",
    class: "bg-black   text-white",
    icon: Vercel,
  },
  JAVASCRIPT: {
    name: "JavaScript",
    class: "bg-[#003159] text-white",
    icon: JavaScript,
  },
}

const PROJECTS = [
  {
    title: "Portfolio Personal",
    description: "Mi portfolio personal desarrollado con Astro y Tailwind CSS. Un sitio web moderno y minimalista que muestra mis proyectos y habilidades como desarrollador.",
    link: "https://felipejerez.dev",
    github: "https://github.com/0xtakemichi/portfolio",
    image: "/portfolio-preview.png",
    tags: [TAGS.NEXT, TAGS.TAILWIND],
  },
  {
    title: "BIMViewer Web App Gestión de Proyectos BIM",
    description: "Sistema integral para la gestión de proyectos BIM, desarrollado con React y TypeScript. Incluye gestión de modelos 3D, documentación y colaboración en proyectos.",
    link: "https://bimviewer.vercel.app",
    github: "https://github.com/0xtakemichi/bimviewer-web-app",
    image: "/projects/bimviewer.webp",
    tags: [TAGS.TYPESCRIPT, TAGS.REACT, TAGS.FIREBASE, TAGS.VERCEL],
  },
  {
    title: "Monorepositorio de proyectos con React",
    description: "Un monorepositorio que contiene varios proyectos de React para aprender y practicar.",
    link: "",
    github: "https://github.com/0xtakemichi/hello-react",
    image: "",
    tags: [TAGS.REACT, TAGS.TAILWIND],
  },
  {
    title: "Hello JavaScript",
    description: "Un repositorio simple para aprender JavaScript.",
    link: "",
    github: "https://github.com/0xtakemichi/hello-javascript",
    image: "",
    tags: [TAGS.JAVASCRIPT],
  },
  {
    title: "BIMViewer",
    description: "Implementación de un visor 3D con Three.js para visualizar modelos BIM IFC.",
    link: "https://bim-app.vercel.app/",
    github: "https://github.com/0xtakemichi/bim-viewer",
    image: "",
    tags: [TAGS.TYPESCRIPT, TAGS.REACT, TAGS.VERCEL],
  },
]
---

<div class="grid grid-cols-1 md:grid-cols-2 gap-8">
  {
    PROJECTS.map(({ image, title, description, tags, link, github }) => (
      <article class="flex flex-col bg-gray-100 dark:bg-gray-800 rounded-xl overflow-hidden shadow-lg hover:shadow-xl transition-all duration-300 cursor-pointer group">
        <div class="relative w-full h-48">
          <img 
            alt={title} 
            class="object-cover w-full h-full transition duration-500 group-hover:scale-105" 
            loading="lazy" 
            src={image} 
          />
        </div>

        <div class="p-6">
          <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100 mb-4">
            {title}
          </h3>
          
          <div class="flex flex-wrap gap-2 mb-4">
            {tags.map((tag) => (
              <span class={`flex items-center gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2`}>
                <tag.icon class="size-4" />
                {tag.name}
              </span>
            ))}
          </div>

          <p class="text-gray-700 dark:text-gray-400 mb-6">{description}</p>
          
          <footer class="flex items-center gap-4">
            {github && (
              <LinkButton href={github}>
                <GitHub class="size-5" />
                Code
              </LinkButton>
            )}
            {link && (
              <LinkButton href={link}>
                <Link class="size-4" />
                Preview
              </LinkButton>
            )}
          </footer>
        </div>
      </article>
    ))
  }
</div>
